*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #baf1ff ,rgb(255, 147, 192));
    background-image: url(images/morning.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background-size: contain; Maintain aspect ratio */
    /* background-repeat: no-repeat; Prevents repeating */
    /* background-position: center; Center the background image */
    /* background:fixed; */
}
.main h1{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;

    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#container{
    margin:20px auto;
    padding-top:10px;
    width: 80vh;
    padding-bottom:20px;text-align: center;
   
}

.dark-mode {
    background-image: url(images/night.jpg);
    
}

.theme{
    position:absolute;
    top:0;
    right:0;
    padding:20px;
    height:10px;
    width:10px;
    color:white;
    background-image: url(images/sun.png);
    background-size: cover;
    cursor:pointer;
}

.sun-image{
    
    background-image: url(images/moon.png);
   
}


.sub{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(77, 75, 75);
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.subTheme{
   
    color: rgb(228, 228, 228);
    background-color: rgb(37, 36, 36);
   
}
.sub .editor{
    /* background-color: palevioletred; */
    padding:20px;
    text-align: left;
    
}

.editor:focus{
    outline: none;
    border: none;
}
a{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 15px;
    color: rgb(184, 184, 184);
    
    font-weight: 600;
}

.current-time {
    float: right; /* Aligns the current-time to the right */
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: rgb(191, 194, 193);
}


/* .current-time{
    position:absolute;
    bottom:0;
    right:0;
    padding-bottom: 5px;
    padding-right: 5px;
} */
#addNote{

    margin-left:50%;
    padding: 20px;
    border:none;
    color:white;
    background-color: black;
    border-radius: 15px;
    
}
